@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/animations';


.Button {
  display: inline-block;
  padding: 11px 50px;
  text-align: center;

  border-radius: 100px;
  background-color: $accent-color;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

  &:hover,
  &:focus {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 2rem rgba(#ffffff, 0.2);
  }

  &:active {
    transform: translate(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(#ffffff, 0.2);
  }

  animation: moveInRight 1s ease-out;
}
